.unlist_style {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.more_menu {
  display: none;
}

@media screen and (max-width: 900px) {
  .unlist_style {
    display: none;
  }

  .more_menu {
    display: block;
  }
}